:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  padding: 36px;
}

body,
input,
button {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  color: #2e4f42;
  border: none;
  outline: none;
}

h5 {
  font-weight: 600;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.04em;
}

p {
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
}

input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  letter-spacing: 0.04em;
  padding: 8px 16px;
  height: 40px;
}

button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4e75ff;
  margin: 0;
}

button:hover {
  color: #fff;
  background-color: #6c8cff;
}

.wrapper {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 32px;
}

.gallery {
  width: 1128px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 0 auto;
}

.gallery-item {
  width: calc((100% - 2 * 24px) / 3);

  /* height: 220px; */
  cursor: pointer;
  border: 1px solid #808080;
}

.gallery-image {
  width: 360px;
  height: 160px;
  object-fit: cover;
  margin-bottom: 4px;
}

.image-info {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #4e75ff;
  position: relative;
}
.loader:before,
.loader:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}
.loader:after {
  color: #ff3d00;
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}
